.main {
  text-align: center;
}

.service-title-contents {
  background: url('/images/1119024_m.jpg') no-repeat center center;;
  background-size: cover;
  height: 600px;
  border-bottom: dimgray 1px solid;
}

.service-title {
  padding: 90px 0 0;
  font-weight: bold;
  font-family: 'Corben', cursive;
  font-size: 45px;
}

.service-subtitle {
  font-size: 20px;
}

.explain-contents {
  padding: 50px 0;
  color: dimgrey;
}

.explain-title {
  font-size: 25px;
  padding-bottom: 30px;
  font-weight: bold;
}

.explain-content {
  padding: 5px 0;
}

.reaf-line {
  width: 70vw;
}

.therapist-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  color: dimgrey;
}

.therapist-content-title {
  font-size: 30px;
  padding-bottom: 30px;
}

.therapist-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  padding: 10px;
  background-color: blanchedalmond;
  border: dimgrey 1px solid;
  margin: 10px;
}

.therapist-list {
  text-decoration: none;
  color: dimgrey;
}
.therapist-img {
  width: 20vh;
  height: 20vh;
}

.therapist-info {
}

.therapist-name {
  font-size: 20px;
}

.therapist-qualification {
  font-size: 15px;
}

