.footer {
}

.footer-contents {
  height: 50px;
  background-color: lightblue;
  /* padding: 10px 0; */
  padding: 10px 0 0 40px;
  display: flex;
}

.footer-left {
  width: 70%;
}

.footer-left-list {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  color: dimgray;
  font-size: 1.1em;
  padding: 5px 20px;
  margin-right: 20px;
}

.footer-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 50px;
  font-size: small;
}