.header {
  height: 50px;
  background-color: white;
  padding: 10px 0;
  border-bottom: dimgray 1px solid;
  display: flex;
}

li {
  list-style: none;
}

.heading-left {
  width: 40%;
  padding: 5px 0 0 50px;
}

.app-title {
  text-decoration: none;
  color: black;
  font-size: 1.3em;

}

.heding-right {
  width: 60%;
}

.navbar {
  /* padding: 20px; */
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
}

.user-information {
  padding-top: 10px;
  padding-right: 15px;
  font-size: small;
  justify-content: flex-end;
}

.heading-right-list{
  text-decoration: none;
  display: inline-block;
  background-color: coral;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
  /* font-weight: bold; */
  padding: 5px 20px;
  margin-right: 20px;
}