<div class='footer'>
  <div class='footer-contents'>
    <div class="footer-left">
      <% unless user_signed_in? %>
      <ul class="fotter-navbar">
        <span class="user-information">施術者の方はこちら</span>
        <% if therapist_signed_in? %>
          <%= link_to "ログアウト", destroy_therapist_session_path, method: :delete, class: "footer-left-list" %>
        <% else %>
          <%= link_to "新規登録", new_therapist_registration_path, class: "footer-left-list" %>
          <%= link_to "ログイン", new_therapist_session_path, class: "footer-left-list" %>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="footer-right">
      <div class="footer-logo">
        <p>© THERAPIST FIND APP</p>
      </div>
    </div>
  </div>
</div>