.register-btn {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}

.register-red-btn {
  width: 100%;
  background: coral;
  border: 1px solid coral;
  border-radius: 10px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
